
.Titre{
    background-color: aliceblue;
}

h1{
    text-align: center;
    color:purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-nav1 {
   display: flex;
   justify-content: space-around;
   list-style: none;
   align-items: center;
   background-color:#8B008B;
   width:auto ;
   height:50px ;
}
.navbar-nav1 a {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding-bottom: auto;
}
.navbar-nav1 a:hover{
color:green;
text-decoration: underline;
} 
.navbar-nav2{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color:rgb(85, 85, 194);
    width:auto ;
    height:50px ;

}
.navbar-nav2 a{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    
}

body{
    margin-left:6ch ;
    margin-right:6ch;
    margin-bottom:60px ;
    margin-top:none ;
}
#caroussel{
    width:auto ;
    height: 500px;
    overflow:auto ;
    border:2px solid blue ;
}
.carousel-item{
    height: 500px;
    margin-top:0px;
    padding-top: none;
}
.carousel{
padding-top:0px;

}

#carouselExample{
 padding-top:auto;
 width:auto;

    }

.carousel-control-prev{
    background-color: none;
}
.carousel-control-prev-icon{
    color:blue;
    background-color: purple;
    border: 2px solid black;
}
.carousel-control-next-icon{
    color:blue;
    background-color: purple;
    border: 1px solid black;
    font-weight: 100px;
}
.visually-hidden{
    border: 25px solid;
}
.col-6 img{
    margin-left:auto;
}

footer{
    background-color:purple;
    height: 250px;
}


.carousel-item{
    width:1500px;
    float: none;
}
